snippet sassdoc
  /// ${1:Title}
  /// @group   ${2:[group name]}
  /// @author  ${3:[author's name]}
  /// @param   ${4:[param]} \$${5:[param name]} - ${6:[param description]}
  /// @example ${7:[scss | sass]} - Usage
